.button-section{
  background-color: $jellybean;
  color: $white;
  font-family: $raleway;
  text-align: center;
  font-size: $large;
  padding:0.5em;
}
.btn {

  background-color: white;
  font-family: $raleway;
  font-size:$medium;
  font-weight:$bold;
  border-radius: 1.5em;
  color:$granitegray;
  padding: 1em;
  width: 25%;
  margin: 1em;
}
