.main-header{
  background-color: $jellybean;
  margin: 0;
}

.main-header__title{
  color: $white;
  font-weight: $light;
  text-align: center;
  font-family: $raleway;
  padding: 7rem 0rem;
  margin: 0;
}

.main-header__title-bold{
    font-weight: $bold;
    font-size: $large;
}
